.nav-container {
    height: min-content;
    background-color: lightcoral;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container_link {
    margin: 0px 20px 0px 0px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.nav-container_link:hover {
    cursor: pointer;
    color: lightgray
}

#youtubelogo {
    height: 20px;
}
